:root {
    --color-one: #FA7C5A;
    --color-two: #834DFA;
    --color-three: #FAEF67;
    --color-four: #7FFAD5;
}

.container {
    width: 100vw;
    height: 100vh;
}

.box {
    height: 150px;
    width: 200px;
    /* transition-duration: 1s;
    transition-property: width
    color font ;
    transition-delay: 0; */
    transition: all 1s linear 0s;
}

.one {
    background-color: var(--color-one);
    transition-timing-function: linear;
}

.two {
    background-color: var(--color-two);
    transition-timing-function: ease-in;
}

.three {
    background-color: var(--color-three);
    transition-timing-function: ease-out;
}

.four {
    background-color: var(--color-four);
    transition-timing-function: ease-in-out;
}

/* .container:hover .box {
    width: 600px;
    color: white;
    font-size: 40px;
} */
.box:hover{
    width: 600px;
}