table{
    width: 400px;
    border-collapse: collapse;
    text-align: center;
}
table, th, td {
    border: 1px solid ;
}
th, td {
    padding: 10px;
}
caption{
    font-weight: bold;
    text-align: center;
    background-color: aquamarine;
    padding: 5px;

}
tfoot{
    background-color: yellow
}