:root{
    --footer:#55A8A7;
    --navigation: #5b696b;
    --main-content: #91A7ab;

}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
}
nav{
    background-color: var(--navigation);
}
nav h1{
    transform: rotate(90deg);
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}
.flex-column-container{
    display: flex;
    flex-direction: column;
}
main{
    background-color: var(--main-content);
    height: 80%;
    padding: 1rem;
    color: wheat;

}
footer{
    background-color: var(--footer);
    height: 20vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}